* {
  /* border: 1px solid red; */
}

:root {
  --shadow: #1e90ff;
  --surface: #f3fcff;
  --sword: rgb(255, 157, 157);
}

html{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
}
body{
  display: flex;
  height: 100vh;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  
  /* border: 1px solid blue; */
}
.mapContainer{
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6,1fr);
  transform:
    rotateX(51deg)
    rotateZ(43deg);
  /* transform-style: preserve-3d; */
}

.platform {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(128, 128, 128, .6);
  background-color: var(--surface);
  width: 90%;
  height: 90%;
  box-shadow: 1px 1px 0px var(--shadow),
                2px 2px 0px var(--shadow),
                3px 3px 0px var(--shadow),
                4px 4px 0px var(--shadow),
                5px 5px 0px var(--shadow),
                6px 6px 0px var(--shadow),
                7px 7px 0px var(--shadow),
                8px 8px 0px var(--shadow),
                9px 9px 0px var(--shadow),
                10px 10px 0px var(--shadow),
                11px 11px 0px var(--shadow),
                12px 12px 0px var(--shadow),
                13px 13px 0px var(--shadow),
                14px 14px 0px var(--shadow);
}

#player{ 
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-35%,-35%);
  border-radius: 8px;
  z-index: 5;
  box-shadow: 1px 1px 0px var(--shadow),
  2px 2px 0px var(--shadow),
  3px 3px 0px var(--shadow),
  4px 4px 0px var(--shadow),
  5px 5px 0px var(--shadow),
  6px 6px 0px var(--shadow),
  7px 7px 0px var(--shadow),
  8px 8px 0px var(--shadow),
  9px 9px 0px var(--shadow),
  10px 10px 0px var(--shadow),
  11px 11px 0px var(--shadow),
  12px 12px 0px var(--shadow),
  13px 13px 0px var(--shadow),
  14px 14px 0px var(--shadow);
  animation: appear .5s;
}

.sword{
  position: absolute;
  display: none;
  width: 10px; 
  background-color: rgb(255, 255, 255);
  z-index: 6;
  transform: scale(0);
  border-radius: 25px;
}
.attack{
  display: flex;
    animation: attack .7s infinite linear;
    box-shadow: 0 0 20px var(--sword),
    0 0 40px var(--sword), 
    0 0 60px var(--sword), 
    0 0 80px var(--sword), 
    0 0 120px var(--sword),
    0 0 220px var(--sword),
    0 0 320px var(--sword);
  }

@keyframes attack {
  0%{

    transform:rotateZ(0deg) scale(0);
  }
  33%{
    transform: rotateZ(120deg) scale(1);
  }
  66%{
    transform: rotateZ(240deg) scale(1);
  }
  100%{
    transform: rotateZ(360deg) scale(0);
  }
}

@keyframes appear {
  0%{
    transform: scale(0) translate(-35%,-35%);
    /* transform: translate(-25%,-25%); */
  }
  100%{
    transform: scale(1) translate(-35%,-35%);
    /* transform: translate(-25%,-25%);
  } */
}